{% extends 'main.html' %} 
{% load static %}
{% block content %}

    <div class="main-content">
        <div class="about-container">
          <div class="about-person">
        <img src="{% static 'stockApp/images/Justin.png' %}" alt="Profile image">
          <h2>Justin Magnano</h2>

            <p>Hello! I'm Justin Magnano and I'm responsible for the front-end portion of this website. My specialties lie in creating smooth HTML, CSS and JS for a pleasant user experience. I'm a senior and this is my last semester at ASU. My major is Information Technology 
            </p>
</div>
<div class="about-person">
          <img src="{% static 'stockApp/images/Allysa.jpg' %}">
            <h2>Allysa Figueroa</h2>

            <p>Hello! I'm Allysa Figureoa and I'm responsible for the back-end portion of this website. I worked on the python and integration with Django to create an authentic stock market experience. I'm a senior and this is my last semester at ASU. My major is Information Technology 
            </p>
</div>
<div class="about-person">
          <img src="{% static 'stockApp/images/Richard.jpg' %}">

            <h2>Richard Watters</h2>
            <p>Hello! I'm Richard and I'm responsible for the direction and management of the overall project. I gave direction and came up with first drafts to everything, with extra detail being given to documents and project management. I'm a senior and this is my second to last semester at ASU. My major is Information Technology </p>
</div>
      </div>
  </div>
{% endblock %} 
