{% extends 'main.html' %} 
{% load static %}
{% block content %}

    <div class="main-content">
      <div class="login-form">
      <div class="wrapper">
        <form action="" method="POST">

          {% csrf_token %}
          <h1>Contact Us!</h1>

          <div class="input-box">
            {{ form.email }}
            <i class='bx bxl-gmail' ></i>
          </div>

          <div class="input-box">
            {{ form.phoneNumber }}
            <i class='bx bx-phone' ></i>
          </div>
          {% load form_tags %}
          <div class="message-box">
            {{ form.subject|add_class:"input" }}
          </div>
          <button type="submit" class="subbutton">Submit</button>
        </form>
      </div>
      </div>
      <div class="container">
        <h1>JAR Investments</h1>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisis suspendisse facilisis erat vestibulum platea facilisis nisl aliquam sed. Urna blandit tempus urna aliquam id pretium. Molestie dis accumsan imperdiet nam conubia. Dui ridiculus purus dui quisque rhoncus quisque habitasse volutpat. Fermentum scelerisque commodo molestie commodo in varius. Erat massa metus ad varius phasellus. Vestibulum congue ultrices donec vestibulum accumsan purus donec. Bibendum nam nascetur per himenaeos dignissim nisl.
            Aenean class cubilia orci porta, taciti ut pellentesque. Lectus nam malesuada; habitant class hac enim. Dapibus euismod magnis diam platea himenaeos et. In aliquet curae, habitant nisl tristique sollicitudin. Id ornare urna integer purus parturient cubilia. Dignissim commodo sem id habitasse ultricies magna mus. Aptent imperdiet nisi pretium sit elit ipsum leo.
        </p>
      </div>
    </div>
{% endblock %} 