{% extends 'main.html' %} 
{% load static %}
{% block content %}

    <div class="main-content">
      <div class="login-form">
      <div class="wrapper">
        <form action="">
          <h1>Contact Us!</h1>
          <div class="input-box">
            <input type="text" placeholder="Email Address" required>
            <i class='bx bxl-gmail' ></i>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Phone Number" required>
            <i class='bx bx-phone' ></i>
          </div>
          <div class="message-box">
            <input type="text" placeholder="I'm gonna fix this later" required>
          </div>
          <button type="submit" class="subbutton">Submit</button>
        </form>
      </div>
      </div>
      <div class="container">
        <h1>JAR Investments</h1>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Facilisis suspendisse facilisis erat vestibulum platea facilisis nisl aliquam sed. Urna blandit tempus urna aliquam id pretium. Molestie dis accumsan imperdiet nam conubia. Dui ridiculus purus dui quisque rhoncus quisque habitasse volutpat. Fermentum scelerisque commodo molestie commodo in varius. Erat massa metus ad varius phasellus. Vestibulum congue ultrices donec vestibulum accumsan purus donec. Bibendum nam nascetur per himenaeos dignissim nisl.

Aenean class cubilia orci porta, taciti ut pellentesque. Lectus nam malesuada; habitant class hac enim. Dapibus euismod magnis diam platea himenaeos et. In aliquet curae, habitant nisl tristique sollicitudin. Id ornare urna integer purus parturient cubilia. Dignissim commodo sem id habitasse ultricies magna mus. Aptent imperdiet nisi pretium sit elit ipsum leo.

Aenean urna taciti ultricies ullamcorper massa. Venenatis gravida lacus ipsum morbi imperdiet. Interdum suspendisse porttitor rutrum conubia penatibus. Integer nam scelerisque ornare risus id nostra. Mi quis habitant sollicitudin vel facilisi; quam montes. Molestie aliquet velit himenaeos commodo eleifend euismod eros mollis. Venenatis interdum aliquet facilisi maximus proin semper commodo. Donec mauris ornare varius justo pellentesque hac venenatis.

Justo placerat id imperdiet vehicula augue. Primis aenean felis nam libero ac enim. Convallis himenaeos tristique duis lectus habitasse commodo vitae donec. Natoque cursus suscipit tortor dignissim ante. Curabitur porttitor facilisi tempus pellentesque nibh, eget facilisis scelerisque. Nascetur lobortis conubia nam laoreet tempus consequat. Pharetra id nam quis dolor porttitor bibendum dapibus pretium dignissim. Felis gravida tempor feugiat suscipit dis iaculis.

Amet nascetur tristique iaculis; augue felis natoque vehicula. Potenti vel torquent aliquam porttitor, nostra nostra hendrerit nam. Suspendisse interdum lobortis nisi morbi congue tempus purus facilisis litora. Class finibus penatibus nam magna pellentesque. Blandit nisl libero eros primis sodales vestibulum efficitur. Vehicula purus nulla vulputate sem metus.</p>
      </div>
    </div>
{% endblock %} 